/Agencia.class
/Banco.class
/Conta.class
/Dinheiro.class
/Entrada.class
/EstadosDeOperacao.class
/Moeda.class
/Operacao.class
/Saida.class
/SistemaBancario.class
/Transacao.class
/TransacaoNaoRealizada.class
/ValorMonetario.class
